<ng-container [ngSwitch]="userAgent">
    <ng-container *ngSwitchCase="'NerdMiner'">
        <a (click)="cancelClick($event)" href="https://github.com/BitMaker-hub/NerdMiner_v2" target="_blank">Nerd Miner
            <i class="pi pi-star-fill"></i>
        </a>
    </ng-container>
    <ng-container *ngSwitchCase="'PiAxe'">
        <a (click)="cancelClick($event)" href="https://github.com/shufps/piaxe-miner" target="_blank">PiAxe
            <i class="pi pi-star-fill"></i>
        </a>
    </ng-container>
    <ng-container *ngSwitchCase="'bitaxe'">
        <a (click)="cancelClick($event)" href="https://github.com/skot/bitaxe/" target="_blank">Bitaxe
            <i class="pi pi-star-fill"></i>
        </a>
    </ng-container>
    <ng-container *ngSwitchCase="'cpuminer'">
        <a (click)="cancelClick($event)" href="https://github.com/pooler/cpuminer" target="_blank">cpuminer
        </a>
    </ng-container>
    <ng-container *ngSwitchCase="'cgminer'">
        <a (click)="cancelClick($event)" href="https://cgminer.info/" target="_blank">cgminer
        </a>
    </ng-container>
    <ng-container *ngSwitchCase="'Braiins OS'">
        <a (click)="cancelClick($event)" href="https://braiins.com/os/plus" target="_blank">Braiins OS
        </a>
    </ng-container>
    <ng-container *ngSwitchCase="'termux-miner'">
        <a (click)="cancelClick($event)" href="https://github.com/wong-fi-hung/termux-miner"
            target="_blank">termux-miner
        </a>
    </ng-container>
    <ng-container *ngSwitchCase="'LeafMiner'">
        <a (click)="cancelClick($event)" href="https://github.com/matteocrippa/leafminer" target="_blank">LeafMiner
            <i class="pi pi-star-fill"></i>
        </a>
    </ng-container>
    <ng-container *ngSwitchDefault>{{userAgent}}</ng-container>
</ng-container>