<ng-container [ngSwitch]="userAgent">
    <ng-container *ngSwitchCase="'NerdMiner'">
        <a (click)="cancelClick($event)" href="https://github.com/BitMaker-hub/NerdMiner_v2" target="_blank">Nerd Miner
            <i class="pi pi-star-fill"></i>
        </a>
    </ng-container>
    <ng-container *ngSwitchCase="'NerdNOS'">
      <a (click)="cancelClick($event)" href="https://github.com/WantClue/NerdMiner_v2/tree/nerdnos" target="_blank">NerdNOS
            <i class="pi pi-star-fill"></i>
      </a>
    </ng-container>
    <ng-container *ngSwitchCase="'NerdAxe'">
        <a (click)="cancelClick($event)" href="https://github.com/BitMaker-hub/NerdAxeUltra" target="_blank">NerdAxe
            <i class="pi pi-star-fill"></i>
        </a>
    </ng-container>
    <ng-container *ngSwitchCase="'NerdAxeGamma'">
        <a (click)="cancelClick($event)" href="https://github.com/BitMaker-hub/NerdAxe" target="_blank">NerdAxeGamma
            <i class="pi pi-star-fill"></i>
        </a>
    </ng-container>
    <ng-container *ngSwitchCase="'NerdOCTAXE'">
        <a (click)="cancelClick($event)" href="https://github.com/Patsch91/NerdOCTAXE-Gamma" target="_blank">NerdOCTAXE
            <i class="pi pi-star-fill"></i>
        </a>
    </ng-container>
    <ng-container *ngSwitchCase="'NerdEKO'">
        <a (click)="cancelClick($event)" href="https://github.com/phil31/NerdEKO-Gamma" target="_blank">NerdEKO
            <i class="pi pi-star-fill"></i>
        </a>
    </ng-container>
    <ng-container *ngSwitchCase="'PiAxe'">
        <a (click)="cancelClick($event)" href="https://github.com/shufps/piaxe" target="_blank">PiAxe
            <i class="pi pi-star-fill"></i>
        </a>
    </ng-container>
    <ng-container *ngSwitchCase="'QAxe'">
        <a (click)="cancelClick($event)" href="https://github.com/shufps/qaxe" target="_blank">QAxe
            <i class="pi pi-star-fill"></i>
        </a>
    </ng-container>
    <ng-container *ngSwitchCase="'QAxe+'">
        <a (click)="cancelClick($event)" href="https://github.com/shufps/qaxe" target="_blank">QAxe+
            <i class="pi pi-star-fill"></i>
        </a>
    </ng-container>
    <ng-container *ngSwitchCase="'NerdQAxe+'">
      <a (click)="cancelClick($event)" href="https://github.com/shufps/qaxe" target="_blank">NerdQAxe+
            <i class="pi pi-star-fill"></i>
      </a>
    </ng-container>
    <ng-container *ngSwitchCase="'NerdQAxe++'">
      <a (click)="cancelClick($event)" href="https://github.com/shufps/qaxe" target="_blank">NerdQAxe++
            <i class="pi pi-star-fill"></i>
      </a>
    </ng-container>
    <ng-container *ngSwitchCase="'0xAxe'">
        <a (click)="cancelClick($event)" href="https://github.com/shufps/0xaxe" target="_blank">0xAxe
            <i class="pi pi-star-fill"></i>
        </a>
    </ng-container>
    <ng-container *ngSwitchCase="'bitaxe'">
        <a (click)="cancelClick($event)" href="https://github.com/skot/bitaxe/" target="_blank">Bitaxe
            <i class="pi pi-star-fill"></i>
        </a>
    </ng-container>
    <ng-container *ngSwitchCase="'bitaxeHex'">
        <a (click)="cancelClick($event)" href="https://github.com/skot/bitaxeHex/" target="_blank">Bitaxe Hex
            <i class="pi pi-star-fill"></i>
        </a>
    </ng-container>
    <ng-container *ngSwitchCase="'cpuminer'">
        <a (click)="cancelClick($event)" href="https://github.com/pooler/cpuminer" target="_blank">cpuminer
        </a>
    </ng-container>
    <ng-container *ngSwitchCase="'cgminer'">
        <a (click)="cancelClick($event)" href="https://cgminer.info/" target="_blank">cgminer
        </a>
    </ng-container>
    <ng-container *ngSwitchCase="'Braiins OS'">
        <a (click)="cancelClick($event)" href="https://braiins.com/os/plus" target="_blank">Braiins OS
        </a>
    </ng-container>
    <ng-container *ngSwitchCase="'termux-miner'">
        <a (click)="cancelClick($event)" href="https://github.com/wong-fi-hung/termux-miner"
            target="_blank">termux-miner
        </a>
    </ng-container>
    <ng-container *ngSwitchCase="'LeafMiner'">
        <a (click)="cancelClick($event)" href="https://github.com/matteocrippa/leafminer" target="_blank">LeafMiner
            <i class="pi pi-star-fill"></i>
        </a>
    </ng-container>
    <ng-container *ngSwitchDefault>{{userAgent}}</ng-container>
</ng-container>
