@import "assets/layout/styles/layout/layout.scss";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeflex/primeflex.css";

.p-datatable .p-datatable-thead>tr>th {
    background: none;
}

.p-datatable.p-datatable-hoverable-rows .p-datatable-tbody>tr:not(.p-highlight) {
    cursor: pointer;
}


p-chart>div {
    position: relative;
    min-height: 40vh;
}

.card {
    &.chart {
        padding: 10px;
    }
}